.homepage {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-image: url('../../assets/bg-books-2.jpg');
    background-size: cover;
}

.homepage .landing-img {
    width: 100%;
}

.homepage .quote {
    background-color: white;
    border: 1px dotted #D6C0B3;
    /* background-image: url('../../assets/cloud-quote.png'); */
    /* background-size: 370px; */
    /* height: 300px; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* height: 300px; */
    font-family: "Sour Gummy", sans-serif;
    color: #AB886D;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    text-align: center;
    width: 500px;
}

.homepage .title {
    font-family: "Sour Gummy", sans-serif;
    color: #AB886D;
    margin: 0px;
}

.homepage .bestsellers .title {
    margin-bottom: 10px;
}

.homepage .quote-column {
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-top: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.homepage .bestsellers-container {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px dotted #D6C0B3;
}

.homepage .bestsellers-column {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.homepage .quote-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.homepage .bestsellers-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.homepage .bestsellers .miniature {
    width: 6vw;
    height: 10vw;
    /* border: 4px solid #85644d; */
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.homepage .bestsellers .miniature:hover {
    transform: scale(1.1); 
}

.homepage .home-shelf {
    width: 40vw;
    min-width: 100px;
}

.homepage .divider {
    width: 40vw;
    margin-top: 10px;
}

.homepage .bestsellers-shelf {
    margin-bottom: 0;
    padding-bottom: 0;
}

.homepage .login {
    color: #85644d;
    text-decoration: none;
}

.homepage .button {
    padding: 10px;
    font-weight: bold;
    margin: 0px;
    background-color: antiquewhite;
    border-radius: 10px;
    border: 3px solid #85644d;
    color: #3f3230;
    text-decoration: none;
    text-align: center;
}

.homepage .button:hover {
   background-color:rgb(212, 199, 182);
   color: #3f3230;
}