.homepage {
    display: flex;
    flex: 1;
    min-height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #d1bfb5;

    /* background-image: url('../../assets/bg-books-trans20.png');
    background-size: cover; */
    padding-bottom: 50px;
}

.homepage .homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;

    background-color: white;
    border-radius: 20px;
    padding: 50px;
    margin: 50px;
    width: 80vw;
    /* border: 2px solid #AB886D; */

}

.homepage .landing-img {
    width: 100%;
}

.homepage .quote {
    background-color: white;
    border: 1px dotted #D6C0B3;
    font-family: "Sour Gummy", sans-serif;
    color: #AB886D;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
    width: 500px;
}

.homepage .title {
    color: #7c5b44;
    margin-bottom: 10px;
    font-size: 50px;
    width: 100%;
    z-index: 1;
    text-align: left;

    position: absolute; 
    top: 0; 
    left: 0; 
    margin: 0;
}

.homepage .quote-column {
    display: flex;
    flex-direction: column;
    margin: 0px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    /* margin-top: 50px; */

    position: relative;
}

.homepage .quote-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.homepage .quote img{
    width: 140px;
    border-radius: 100px;
}

.homepage .rating {
    width: 100px;
}


.homepage .bestsellers-container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
    justify-content: center;

    position: relative;
}

.homepage .bestsellers-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: white;
    border-radius: 10px;
    border: 1px dotted #D6C0B3;
    padding: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    min-height: 100px;
    min-width: 300px;

    color: #85644d;
}

.homepage .bestsellers-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.homepage .bestsellers .miniature {
    width: 200px;
    height: 316px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.homepage .home-shelf {
    width: 40vw;
    min-width: 100px;
}

.homepage .divider {
    width: 40vw;
    margin-top: 10px;
}

.homepage .bestsellers-shelf {
    margin-bottom: 0;
    padding-bottom: 0;
}

.homepage .login {
    color: #85644d;
    text-decoration: none;
}

.homepage .button {
    text-decoration: none;
    color: #AB886D;
    background-color: white;
    width: 95px;
    cursor: pointer;
    text-align: center;
    border: 2px solid #D6C0B3;
    font-size: smaller;
    border-radius: 10px;
    padding: 2px 5px;
    font-weight: bold;
}

.homepage .button:hover {
    background-color: #E4E0E1;
}

.homepage .reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    position: relative;
    min-width: 300px;
}

.homepage .loading-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    border: 1px dotted #D6C0B3;
    padding: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    min-height: 100px;
    min-width: 300px;
}


.homepage .reviews-container .loading {
    color: #85644d;
    text-align: center;
}

@media (max-width: 1700px) {
    .quote-bestsellers-container {
      flex-direction: column !important;
      gap: 100px !important;
    }

    .bestsellers-row {
        min-width: none !important;
      }

    .quote-bestsellers-container {
        flex-direction: column !important;
        gap: 100px !important;
      }

    .homepage {
        flex-direction: column !important;
        justify-content: start !important;
        gap: 100px;
    }
    .homepage .reviews-container {
        justify-content: center !important;
    }
    .homepage .title {
        text-align: center !important;
    }
}

@media (max-width: 800px) {
    .homepage .quote-column, .loading-container, .bestsellers-container, .reviews-container  {
        /* margin-top: 64px !important; */
        width: 300px !important;
        min-width: none !important;
    }

    .homepage .reviews-container {
        justify-content: center !important;
    }

    .homepage .title {
        width: 100% !important;
        text-align: center !important;
    }

    .homepage .bestsellers-container .title {
        line-height: 40px;
    }

    .homepage .bestsellers-row {
        flex-direction: column !important;
        min-width: none !important;
        width: 300px !important;
        margin-top: 76px !important;
    }

    .homepage .quote {
        width: 400px;
    }
}