.bookfind-page {
    background-image: url('../../assets/bg-books-2.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-items: center;  
}

.bookfind-page .container {
    margin: 20px 50px;
}

.bookfind-page .results {
    font-weight: bold;
    color: #AB886D;
    margin-bottom: 10px;
}

.books-info {
    list-style: none;
    margin: 0px;
    padding: 0px;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 32px;
  }

.bookinfo-cover {
    height: 11em;
    width: 7em;
    border-radius: 10px;
}

.book {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    border: 1px dotted #D6C0B3;

    gap: 10px;
    padding: 10px;
    width: 520px;
}

.bookinfo-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}

.bookinfo-title-author {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
}

.book h2 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
    color: #7c5b44;
}

p.bookfindpage-author {
    font-size: 0.9em;
    margin: 0px;
    color:#AB886D;
}

p.bookfindpage-description {
    text-align: justify;
    text-justify: inter-word;
    font-size: 14px;
    font-weight: 300;
}

.bookfind-page .read-more {
    width: 100%;
    text-align: right;
}

.bookfind-page .button {
    color: #AB886D;
    background-color: white;
    width: 95px;
    cursor: pointer;
    text-align: center;
    border: 2px solid #D6C0B3;
    font-size: smaller;
    border-radius: 10px;
    padding: 2px 5px;
    font-weight: bold;
}

.button:hover {
    background-color: #E4E0E1;
}

.bookinfo-five-stars-icon {
    width: 100px;
}

.bookfind-page .pagination-controls {
    width: 100%;
    margin-bottom: 50px;
    margin-left: 20px;
    text-align: left;
    margin-top: 20px;
}

.bookfind-page .pagination-controls button {
    font-family: "Sour Gummy", sans-serif;
    font-size: small;
    color: antiquewhite;
    border: none;
    border-radius: 3px;
    margin-right: 2px;
}

.bookfind-page .previous, .bookfind-page .next {
    background-color: #AB886D;
    cursor: pointer;
}

.bookfind-page .previous:hover, .bookfind-page .next:hover {
    background-color: #7c5b44;
}

.page-number {
    background-color: #AB886D;
    cursor: pointer;
}

.page-number:hover {
    background-color: #7c5b44;
}

.page-number.active {
    background-color: #D6C0B3;
    cursor: auto;
}
