.bookshelf-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    width: 100vw;
    min-height: 100vh;

}
.bookshelf-shelves {
    list-style: none;
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    /* gap: 5px 10px; */
    width: 100%;
    padding-left: 50px;

}

.bookshelf-books {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    padding: 0px;
    padding-bottom: 50px;
    overflow-y: auto;
    margin: 0px;
}

.bookshelf-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
    overflow-y: auto;
}

.bookshelf-cover {
    width: 55px;
    height: 90px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.bookshelf-cover:hover {
    transform: scale(1.1); 
}

.bookshelf-shelf {
    width: 270px;
}

h2, h3 {
    color: #3f3230;
    font-weight: bold;
    margin-block-end: 0;
}

.bookshelf-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 5px;
    padding-left: 12px;
}

.bookshelf-column {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    align-items: center;
    min-height: 100vh;
}

.bookshelf-column-shelf {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.bookshelf-column-shelf a {
    font-size:small;
}

.bookshelf-arrow {
    height: 20px;
}

.bookshelf-arrow:hover {
    transform: scale(1.1); 
}

.bookshelf-divider {
    /* margin-bottom: 10px; */
    padding: 0;
    height: 20px;
}

.empty p {
    margin-top: 50px;
    text-align: center;
    color: #3f3230;
}

.bookshelf-page .review {
    color: #3f3230;
    background-color: #ceab8c;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    border: 1px solid #3f3230;
}

.bookshelf-page .reviews-container {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    padding: 0px;
    margin: 0px;
    margin-top: 20px;

    width: 80%;
    gap: 20px 20px;
}

.bookshelf-page .reviews-container .title {
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.bookshelf-page .reviews-container .authors {
    font-size: small;
    padding: 0px;
    margin: 0px;
}

.bookshelf-page .five-stars-icon {
    width: 100px;
    margin: 0px;
    padding-top: 5px;
}

.edit-icon {
    width: 20px;
}

.bookshelf-page .edit-icon {
    background: url('../../assets/edit-icon-dark.png');
    background-size: contain;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    outline: none;
    padding: 0;
}

.bookshelf-page .edit-icon:hover {
    background: url('../../assets/edit-icon-light.png');
    background-size: contain;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    outline: none;
    padding: 0px;
}

.bookshelf-page .review-info {
    padding: 10px 20px 0px 20px;
}


