.bookshelf-page {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bookshelf-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 5px;
}

.bookshelf-cover {
    width: 40px;
    height: 60px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.bookshelf-cover:hover {
    transform: scale(1.1); 
}

.bookshelf-shelf {
    width: 10vw;
    min-width: 200px;
}

h2, h3 {
    color: #3f3230;
    font-weight: bold;
    margin-block-end: 0;
}

.bookshelf-column-shelves {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    align-items: center;
}

.bookshelf-shelves {
    list-style: none;
    margin: 0;
    padding: 0;
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    gap: 5px 50px;
    
    padding: 30px;
}

.bookshelf-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    flex: 1;
}

.bookshelf-column-shelf {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.bookshelf-column-shelf a {
    font-size:small;
}

.bookshelf-arrow {
    height: 20px;
}

.bookshelf-arrow:hover {
    transform: scale(1.1); 
}

.bookshelf-divider {
    padding: 0;
    height: 20px;
}

.empty p {
    margin-top: 50px;
    text-align: center;
    color: #3f3230;
}

.bookshelf-page a {
    text-decoration: none;
}


