.front p {
    color: #3f3230;
    font-family: "Playwrite MX", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.quote {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    width: 50rem;
    background-color: #c4af9d;
    background-image: url(../../assets/paper-vintage.png);
}

.front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    /* position: absolute;
    left: 25%;
    top: 20%; */
}

.front-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 100px;
}

.front > img {
    width: 300px;
}