.front .quote {
    /* background-color: rgb(212, 192, 164); */
    /* background-image: url(../../assets/note-paper.png); */
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    padding-right: 50px;
    padding-left: 50px;
    color: #3f3230;
    font-family: "Baskervville", serif;
    font-weight: 400;
    gap: 10px;
}

.front .quote p {
    font-size: large;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;

}

.front .bestsellers {
    color: #3f3230;
    font-family: "Baskervville", serif;
    font-weight: 400;
}

.front .miniature {
    height: 100px;
    width: 100px;
}

.front .bestsellers .miniature {
    width: 100px;
    height: 160px;
    border-radius: 10px;
}

.front .sign-in {
    color: black;
}

.home-shelf {
    width: 80dvb;
}

.home-divider {
    width: 40dvb;
}

.bestsellers-shelf {
    margin-bottom: 0;
    padding-bottom: 0;
}

.title {
    font-weight: bold
}

