.front .quote {
    color: #3f3230;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-size: larger;
}

.quote {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 50rem;
    /* background-color: #b09c87; */
    background-image: url(../../assets/paper-vintage.png);
    padding-right: 20px;
    padding-left: 20px;
}

.front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    /* position: absolute;
    left: 25%;
    top: 20%; */
}

.front-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 100px;
}

.front > img {
    width: 300px;
}

.sign-in p {
    color: black;
    /* text-shadow: 2px 2px 3px black; */
}