.homepage {
    color: #3f3230;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
}

.homepage .quote {
    padding-right: 50px;
    padding-left: 50px;
    font-weight: 400;
    gap: 10px;
    font-size: large;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    text-align: center;
}

.homepage .column {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* border: 1px solid #ccc; */
    margin: 5px;
    border-radius: 5px;
    align-items: center;
}

.homepage .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.homepage .bestsellers .title {
    font-family: 'Newsreader', serif;
}

.homepage .miniature {
    height: 100px;
    width: 100px;
}

.homepage .bestsellers .miniature {
    width: 100px;
    height: 160px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.homepage .bestsellers .miniature:hover {
    transform: scale(1.1); 
}

.homepage .home-shelf {
    width: 80dvb;
}

.homepage .divider {
    width: 40dvb;
}

.homepage .bestsellers-shelf {
    margin-bottom: 0;
    padding-bottom: 0;
}

.homepage .title {
    font-weight: bold
}

.homepage .login {
    color: #3f3230;
}

.homepage p > a {
    color: #85644d;
    text-decoration: none;
}

.homepage p > a:hover {
    color: #ddbfa9;
}

.homepage .button {
    width: 160px;
}