:root {
  font-family: "Newsreader", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 100vh;
  margin: 0;
  background-color: antiquewhite; 
  /* background-image: url("https://www.transparenttextures.com/patterns/gray-floral.png"); */
  /* justify-content: space-between; */
}

a:hover {
  color: #ceab8c;
}

p {
  font-size: medium;
}

