.review-carousel {
  display: flex;
  flex-direction: column;
}

.slick-slider {
  max-width: 80vw;
}

.review-card {
  max-width: 250px; 
  min-height: 230px;

  padding: 15px;
  background-color: white;
  border-radius: 10px;
  border: 1px dotted #d6c0b3;
  color: #ab886d;
  flex-shrink: 0;
}

.review-card p {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slick-dots li button:before {
  color: #7c5b44;
}

.slick-dots li.slick-active button:before {
  transform: scale(1.2);
}
