.bookshelf-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    min-height: 100vh;
    gap: 20px;

    background-image: url('../../assets/bg-books-trans20.png');
    background-size: cover;
}

.bookshelf-page .shelves {
    list-style: none;
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    width: 100%;
}

.bookshelf-page .books {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    padding: 0px;
    overflow-y: auto;
    margin: 0px;
}

.bookshelf-page .reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.bookshelf-page .books,
.bookshelf-page .reviews {
    padding-bottom: 100px;
}

.bookshelf-page .cover {
    width: 55px;
    height: 90px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    border: 2px solid #85644d;
}

.bookshelf-page .cover:hover {
    transform: scale(1.1); 
}

.bookshelf-page .shelf {
    width: 270px;
}

.bookshelf-page .shelf-title {
    background-color: #ceab8c;
    width: auto;
    text-align: center;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #85644d;
}

.bookshelf-page h2 {
    color: #3f3230;
    font-weight: bold;
    margin-block-end: 0; 
}

.bookshelf-page h3 {
    margin-bottom: 10px;
    padding: 0px;
    color: #3f3230;
    font-weight: bold;
    border: 1px solid #3f3230;
}

.bookshelf-page .row {
    display: flex;
    flex-direction: row;
    width: 270px;
    align-items: center;
    justify-content: left;
    gap: 5px;
    padding-left: 12px;
}

.bookshelf-column-shelf {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookshelf-column-shelf a {
    font-size:small;
}

.bookshelf-page .arrow {
    height: 20px;
}

.bookshelf-page .arrow:hover {
    transform: scale(1.1); 
}

.bookshelf-page .bookshelf-divider {
    padding: 0;
    height: 20px;
}

.bookshelf-page .empty p {
    margin-top: 50px;
    text-align: center;
    color: #3f3230;
}

.bookshelf-page .review {
    color: #3f3230;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    border: 2px solid #85644d;
    width: 300px;
}

.bookshelf-page .reviews-container {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    gap: 10px;
    width: 100%;
}

.bookshelf-page .reviews-and-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.bookshelf-page .reviews-and-button a {
    color: #3f3230;
    width: 100%;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

/* .bookshelf-page .reviews-and-button a:hover {
    color: #ceab8c;
} */

.bookshelf-page .reviews-container .date {
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    font-size: small;
    color: #85644d;
}


.bookshelf-page .reviews-container .title {
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.bookshelf-page .reviews-container .authors {
    font-size: small;
    padding: 0px;
    margin: 0px;
}

.bookshelf-page .reviews-container .review-text {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
}

.bookshelf-page .five-stars-icon {
    width: 100px;
    margin: 0px;
    padding-top: 5px;
}

.bookshelf-page .edit-icon {
    background: url('../../assets/edit-icon-dark.png');
    background-size: contain;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    outline: none;
    padding: 0px;
}

.bookshelf-page .delete-icon {
    background: url('../../assets/delete-icon-dark.png');
    background-size: contain;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    outline: none;
    padding: 0px;
}

.bookshelf-page .edit-icon:hover {
    background: url('../../assets/edit-icon-light.png');
    background-size: contain;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    outline: none;
    padding: 0px;
}

.bookshelf-page .delete-icon:hover {
    background: url('../../assets/delete-icon-light.png');
    background-size: contain;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    outline: none;
    padding: 0px;
}

