.bookshelf-page {
    display: flex;
    flex-direction: row;
    justify-items: center;

    width: 100vw;
    min-height: 100vh;
    gap: 20px;

    background-image: url('../../assets/bg-books-2.jpg');
    background-size: cover;
}

.bookshelf-page .bookshelves {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.bookshelf-page h2 {
    color: #7c5b44;
}

.bookshelf-page .shelves {
    list-style: none;
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px 0px;

    width: 100%;
}

.bookshelf-column-shelf {
    display: flex;
    flex-direction: column;
    align-items: start;

    background-color: white;
    border: 1px dotted #D6C0B3;
    padding-bottom: 15px;
    padding-left: 10px;
    border-radius: 10px;
    width: 370px;
}

.bookshelf-page .reviews {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 50vw;
}

.bookshelf-page .books,
.bookshelf-page .reviews {
    padding-bottom: 100px;
}

.bookshelf-page .cover {
    width: 55px;
    height: 90px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    border: 2px solid #AB886D;
    cursor: pointer;
}

.bookshelf-page .cover:hover {
    transform: scale(1.1); 
}

.bookshelf-page .shelf {
    width: 270px;
}

.bookshelf-page .shelf-title {
    background-color: #E4E0E1;
    border: 2px solid #D6C0B3;
    border-radius: 10px;

    color: #7c5b44;
    font-size: medium;
    text-align: center;
    cursor: pointer;
    font-weight: 400;

    width: auto;
    padding: 0px 10px 0px 2px;
}

.bookshelf-page .row {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    padding-left: 12px;
}

.bookshelf-page .arrow {
    height: 20px;
}

.bookshelf-page .arrow:hover {
    transform: scale(1.1); 
}

.bookshelf-page .bookshelf-divider {
    padding: 0;
    height: 20px;
}

.bookshelf-page .empty p {
    margin-top: 50px;
    text-align: left;
    color: #7c5b44;
}

.bookshelf-page .review {
    color: #AB886D;
    background-color: white;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    border: 1px dotted #D6C0B3;
    width: 300px;
}

.bookshelf-page .review .title {
    color: #7c5b44;
}

.bookshelf-page .reviews-container {
    list-style: none;
    padding: 0px;
    margin: 0px;
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px 0px;
  
    justify-items: left;
}

.bookshelf-page .reviews-and-button {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 90%;
    padding: 0px;
    margin: 0px;
}

.bookshelf-page .see-more {
    color: #AB886D;
    background-color: white;
    width: 85px;
    cursor: pointer;
    text-align: center;
    border: 2px solid #D6C0B3;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
}

.bookshelf-page .reviews-container .date {
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    font-size: small;
    color: #85644d;
}

.bookshelf-page .reviews-container .title {
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.bookshelf-page .reviews-container .authors {
    font-size: small;
    padding: 0px;
    margin: 0px;
}

.bookshelf-page .reviews-container .review-text {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
}

.bookshelf-page .five-stars-icon {
    width: 100px;
    margin: 0px;
    padding-top: 5px;
}

.bookshelf-page .edit-icon {
    background: url('../../assets/edit-icon-dark.png');
    background-size: contain;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    outline: none;
    padding: 0px;
}

.bookshelf-page .delete-icon {
    background: url('../../assets/delete-icon-dark.png');
    background-size: contain;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    outline: none;
    padding: 0px;
}

.bookshelf-page .edit-icon:hover {
    background: url('../../assets/edit-icon-light.png');
    background-size: contain;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    outline: none;
    padding: 0px;
}

.bookshelf-page .delete-icon:hover {
    background: url('../../assets/delete-icon-light.png');
    background-size: contain;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    outline: none;
    padding: 0px;
}

