# Server specific
node_modules/
dist/
.env

# Node.js
node_modules/

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporal files
.DS_Store
Thumbs.db

# Temporal process files
*.pid
*.seed
*.log

# Build
dist/
build/

# Other
*.swp
*.swo
