.header {
  background-color: white;
  width: 100%;
}

.header .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr) !important;
  grid-template-rows: repeat(1, 1fr) !important;
  align-items: center;
  gap: 10px;
  padding: 10px;
  padding-right: 20px;
}

.header .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header .column {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header .logo {
  width: 160px;
  margin-left: 10px;
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header .nav { 
  grid-column: 2 / 4;
  padding-left: 30px;
} 
  
.header .nav-item { 
  text-decoration: none; 
  color: #AB886D;
} 

.header .nav-item:hover {
  color: #D6C0B3;
}

.header .form-container {
  grid-column: 4/11;
  grid-row: 1;
  width: auto;
  /* align-items: center; */
}

.header .header-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 20px;
  width: 100%;
  /* margin-right: 20px; */
}

.header .username {
  min-width: 100px;
  text-align: right;
  font-weight: 400;
  color: #7c5b44;
  cursor: pointer;
}

.header .dropdown .username {
  cursor: pointer;
}

.header input[type=text] {
  font-family: "Inconsolata", serif;
  padding: 10px;
  border: 2px solid #E4E0E1;
  border-radius: 5px;
  font-size: 12px;
  background-color: whitesmoke;
  width: 20dvw;
  color:#3f3230;
  margin: 0;
}

.header input[type=text]:focus {
  color:#3f3230;
  background-color: whitesmoke;
}

.header .popup-login {
  position: absolute;
  transform: translateY(12%) translateX(-22%);
  background-color: white;
  color: #AB886D;
  border-radius: 5px;
  z-index: 1;
  width: 150px;
}

.header .popup-login .column {
  gap: 0px;
}

.header .popup-login a {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  width: 100%;
}

.header .popup-login a:hover {
  background-color: #E4E0E1;
}

.header .login {
  background-color: #D6C0B3;
  color: white;
}

.header .signup {
  background-color: #AB886D;
  color: white;
}

.header .login:hover {
  background-color: #AB886D;
  color: white;
}

.header .signup:hover {
  background-color: #D6C0B3;
  color: white;
}

.header .button {
  width: 60px;
  text-align: center;
  height: auto;
  padding: 5px;
  margin: 0px;
  border-radius: 10px;
  text-decoration: none;
}

.header .signup:hover {
  background-color: rgb(174, 150, 128);
}

.header .login-signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header .search-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;

  background-image: url('../../assets/search-icon-2.png');
  background-size: contain;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.header .dropdown-container {
  grid-column: 11;
  padding-left: 20px;
}

/* Default hide button */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.header .searchbar-user {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 10px;

  width: 100%;
}

.header .es {
  background-color: transparent;
  background-image: url('../../assets/flag-spain.png');
  width: 32px;
  height: 32px;
  background-size: cover;
  border: none;
}

.header .us {
  background-color: transparent;
  background-image: url('../../assets/flag-us.png');
  width: 32px;
  height: 32px;
  background-size: cover;
  border: none;
}

.header .lang-container {
  grid-column: 12;
  grid-row: 1;
  display: flex;
  justify-content: right;
  /* align-content: right; */
}

@media (max-width: 1000px) {
  .header .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
  }

  .row img {
    grid-column: 2 !important;
    grid-row: 1 !important;
  }

  .row button {
    grid-column: 1 !important;
    grid-row: 1 !important;
  }

  /* --- SEARCH TOGGLE --- */

  /* Show button when dimensions */

  .search-toggle {
    display: block !important;
    grid-column: 1;
    grid-row: 2;

    background-repeat: no-repeat !important;
  }

  /* Hide PC search-bar when mobile dimensions */
  .header .header-form {
    display: none !important;
    margin-right: 0px !important;
  }

  .header .form-container {
    grid-column: 1/4;
    grid-row: 3;

    padding-left: 5px;
    padding-right: 5px;
  }

  .header .header-form.active {
    display: flex !important;
    width: 100% !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .header-form.active input {
    width: 100% !important;
    font-size: 16px !important;
  }

  .login-signup {
    grid-column: 3;
    grid-row: 2;
  }

  .dropdown-container {
    grid-column: 2/4 !important;
    grid-row: 2 !important;
    padding: 0px !important;
    display: flex;
    justify-content: right !important;
    padding-right: 10px;

  }

  /* --- LANG TOGGLE --- */

  .lang-container {
    grid-column: 3 !important;
    grid-row: 1;
    padding-right: 10px;
  }

  /* --- MENU TOGGLE --- */

  /* Show button when mobile dimensions */
  .menu-toggle {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    padding-left: 15px;
    text-align: left;
  }

  /* Hide PC nav when mobile dimensions */
  .nav {
    display: none;
  }
  
  /* Show dropdown when clicked (actived) */
  .nav.active {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    align-items: center;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px;
    border-top: 1px solid #D6C0B3;
  }
  
  .nav-item {
    margin: 10px 0;
    text-align: center;
  }
}
