.header {
  background-color: white;
  width: 100%;
}

.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  padding-right: 20px;
}

.header .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header .column {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header .logo {
  width: 160px;
  margin-left: 10px;
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
.header .nav-item { 
  text-decoration: none; 
  color: #AB886D;
} 

.header .nav-item:hover {
  color: #D6C0B3;
}

.header .header-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.header .img-and-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header .username {
  min-width: 100px;
  text-align: right;
  font-weight: 400;
  color: #7c5b44;
  cursor: pointer;
}

.header .dropdown .username {
  cursor: pointer;
}

.header input[type=text] {
  font-family: "Inconsolata", serif;
  padding: 10px;
  border: 2px solid #E4E0E1;
  border-radius: 5px;
  font-size: 12px;
  background-color: whitesmoke;
  width: 20dvw;
  color:#3f3230;
  margin: 0;
}

.header input[type=text]:focus {
  color:#3f3230;
  background-color: whitesmoke;
}

.header .popup-login {
  position: absolute;
  transform: translateY(12%) translateX(-22%);
  background-color: white;
  color: #AB886D;
  border-radius: 5px;
  z-index: 1;
  width: 150px;
}

.header .popup-login .column {
  gap: 0px;
}

.header .popup-login a {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  width: 100%;
}

.header .popup-login a:hover {
  background-color: #E4E0E1;
}

.header .login {
  background-color: #D6C0B3;
  color: white;
}

.header .signup {
  background-color: #AB886D;
  color: white;
}

.header .login:hover {
  background-color: #AB886D;
  color: white;
}

.header .signup:hover {
  background-color: #D6C0B3;
  color: white;
}

.header .button {
  width: 60px;
  text-align: center;
  height: auto;
  padding: 5px;
  margin: 0px;
  border-radius: 10px;
  text-decoration: none;
}

.header .signup:hover {
  background-color: rgb(174, 150, 128);
}

.header .login-signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;

  background-image: url('../../assets/search-icon-2.png');
  background-size: contain;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

/* Default hide button */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.header .searchbar-user {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 10px;

  width: 100%;
}

.header .es {
  background-color: transparent;
  background-image: url('../../assets/flag-spain.png');
  width: 32px;
  height: 32px;
  background-size: cover;
  border: none;
}

.header .us {
  background-color: transparent;
  background-image: url('../../assets/flag-us.png');
  width: 32px;
  height: 32px;
  background-size: cover;
  border: none;
}

@media (max-width: 800px) {
  .header .container {
    display: flex;
    flex-direction: column;
  }

  .header .row {
    display: grid;
    grid-template-columns: repeat(5, 1fr) !important;
    /* border: 1px solid black; */
    /* width: 100%;  */
  }

  .row img {
    grid-column: 3;

  }

  .row button {
    grid-column: 5;
  }

  /* --- SEARCH TOGGLE --- */

  /* Show button when dimensions */

  .searchbar-user {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    /* border: 1px solid black; */

   }

  .search-toggle {
    display: grid;
    grid-column: 1;
    grid-row: 1;

    background-repeat: no-repeat !important;
  }

  /* Hide PC search-bar when mobile dimensions */
  .header-form {
    display: none !important;
    margin-right: 0px !important;
  }

  .form-container {
    display: grid !important;
    grid-column: 1/3;
    grid-row: 2;

    padding-left: 5px;
    padding-right: 5px;
  }

  .header-form.active {
    display: flex !important;
    width: 100% !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .header-form.active input {
    width: 100% !important;
    font-size: 16px !important;
  }

  .login-signup {
    display: grid;
    grid-column: 3;
    grid-row: 1;
  }

  /* --- LANG TOGGLE --- */

  .lang-toggle {
    display: grid !important;
    grid-column: 2;
    grid-row: 1;
  }

  /* --- MENU TOGGLE --- */

  /* Show button when mobile dimensions */
  .menu-toggle {
    display: block;
  }

  /* Hide PC nav when mobile dimensions */
  .nav {
    display: none;
  }
  
  /* Show dropdown when clicked (actived) */
  .nav.active {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px;
    border-top: 1px solid #D6C0B3;
  }
  
  .nav-item {
    margin: 10px 0;
    text-align: center;
  }
}
