.quote .text-author {
    position: absolute;
    top: 55%; /* Centra verticalmente */
    left: 50%;
    transform: translate(-50%, -50%);
    /* max-height: 100px; */
    /* font-weight: normal; */
    width: 250px;
}

.quote .loading {
    position: absolute;
    top: 55%; /* Centra verticalmente */
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: normal;
}